.rr-bracket-matchup {
  display: grid;
  grid-template-columns: auto 1fr 2fr 10fr 2fr auto;

  .rr-bracket-matchup__seed {
    padding: 0.4rem 0.8rem;
    background-color: var(--bs-secondary-bg);

    &:nth-child(3) {
      border-bottom: 2px solid var(--bs-body-bg);
      border-top-left-radius: 10px;
    }

    &:nth-last-child(4) {
      border-bottom-left-radius: 10px;
    }
  }

  .rr-bracket-matchup__team {
    padding: 0.4rem 0.8rem;

    &:nth-child(4) {
      border-top: 1px solid var(--bs-border-color);
    }

    &:nth-last-child(3) {
      border-bottom: 1px solid var(--bs-border-color);
    }
  }

  .rr-bracket-matchup__result {
    padding: 0.4rem 0.8rem;
    background-color: var(--bs-secondary-bg);

    &:nth-child(5) {
      border-bottom: 2px solid var(--bs-body-bg);
      border-top-right-radius: 10px;
    }

    &:nth-last-child(2) {
      border-bottom-right-radius: 10px;
    }
  }
}
