<html>
  <head>
    <title>{{projectName}}</title>
    <style>
      body { font-family: Arial, Helvetica, sans-serif; }
    </style>
  </head>
  <body>
    <p>There was an error on the website:</p>

    <p>Error code: {{errorCode}} - "{{errorCodeDescription}}"</p>

    <p style="font-family: monospace">{{errorMessage}}</p>
  </body>
</html>
